@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

:root {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #f8f9fa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4d4d4d;
}

.body-margin {
    @apply  xl:mx-64 lg:mx-32 md:mx-16 sm:mx-8 mx-4;
}

.bg-primary {
    @apply bg-[#f87060];
}

.link {
    @apply text-[#102542] font-bold hover:text-black transition duration-500;
}

.post-content {
    @apply w-full md:w-[70%];
}

.sidebar {
    @apply w-full md:w-[20%];
}
